@import "src/styles/lib";

.Photoronoi {
    position: relative;
    padding: 9em 6em;

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 3em;
        width: 900px;

        input {
            padding: 0.3em 0.6em;
            margin: 0;
            width: 6em;
        }

        form input {
            width: 23em;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;

        label {
            text-transform: uppercase;
            font-size: 0.7em;
            letter-spacing: 0.1em;
        }

        &__value {
            display: flex;
            align-items: center;
            height: 2em;
        }
    }

    &__slider {
        width: 6em;
    }

    &__canvas {
        position: absolute;
        top: 9em;
        left: 6em;
        opacity: 0.3;
    }

    .Voronoi {
        path {
            stroke: $grey5;
            stroke-width: 2px;
            fill: none;
        }
    }
}