@import "src/styles/lib";

$main-color: #30336b;

.RocDevSurvey {
    padding: 3em;
    font-size: 21px;
    background: $bgc;

    @media (max-width: 700px) {
        padding: 2em 1em;
    }

    @media (min-width: 1300px) {
        font-size: 25px;
    }

    &__title {
        // display: inline-block;
        position: relative;
        color: $tc;
        // color: #474787;
        font-size: 3em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;
        padding: 0.2em 0;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;
        }

        &__button {
            display: block;
            font-size: 0.5em;
        }
    }

    &__contents {
        // display: flex;
        margin: 0 -1em;
        background: $bgc;
    }

    &Group {
        width: 100%;
        margin-bottom: 1em;
        padding: 1.3em 1em;
        background: $bgc;

        @media (max-width: 730px) {
            display: flex;
            flex-direction: column;

            &__legend {
                order: 2;

                .RocDevSurveyGroup__bars {
                    display: none;
                }
            }

            &__histograms {
                order: 3;
            }
        }

        &__number-prefix {
            opacity: 0.4;
            display: inline;
        }

        &__legend {
            position: sticky;
            top: 0;
            margin-bottom: 0;
            z-index: 10;
            background: rgba($bgc, 0.9);
            font-weight: 600;
            color: $main-color;

            .RocDevSurveyGroup {
                &__bars__item__text__mean {
                    text-transform: uppercase;
                    letter-spacing: 0.04em;
                    color: $main-color;

                    .RocDevSurveyGroup__histogram__mean {
                        margin-left: -0.3em;
                        font-size: 1rem;
                    }
                }

                &__bars__item__text__mean,
                &__histogram__item__text {
                    @media (max-width: 900px) {
                        font-size: 0.5rem;
                    }
                }

                &__histogram {
                    &__item {
                        align-items: center;
                        font-size: 0.5em;
                        text-align: center;

                        &__text {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        &__content {
            display: flex;
            align-items: center;

            @media (max-width: 600px) {
                flex-direction: column;

                .RocDevSurveyGroup__bars,
                .RocDevSurveyGroup__histograms {
                    flex: 0;
                    width: 100%;
                }

                .RocDevSurveyGroup__bars {
                    margin-bottom: 1em;
                }
            }
        }

        &__label {
            // font-weight: 100;
            font-size: 1em;
        }

        &__bar {
            flex: 0 0 20em;
            margin-top: 0.4em;
            display: flex;
            height: 0.9em;

            &__item {
                height: 100%;
            }
        }

        &__bars {
            display: flex;
            flex: 0 0 12em;
            flex-direction: column;
            margin-right: 1em;

            &__item {
                position: relative;
                display: flex;
                text-align: center;

                // & + & {
                //     margin-top: 1px;
                // }

                &__text {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    transform: translate3d(0, -50%, 0);
                    left: 0.4em;
                    right: 0.4em;
                    // flex: 0 0 4em;
                    // width: 4em;
                    font-size: 0.5em;
                    line-height: 1.4em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: darken($main-color, 10%);

                    &__value {

                    }
                }

                &__bar {
                    width: 100%;
                    height: 1.2em;
                    background: $main-color;
                    opacity: 0.18;
                }
            }
        }

        &__histograms {
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 26em;
        }

        &__histogram {
            position: relative;
            display: flex;
            align-items: flex-end;
            height: 1.2em;
            // flex-direction: column;

            // & + & {
            //     margin-top: 0.3em;
            // }

            &-container {
                flex: 1;
                margin-right: 1em;

                h6 {
                    font-size: 0.5em;
                    white-space: nowrap;
                }
            }

            &__mean {
                position: absolute;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                height: 0.3em;
                width: 0.3em;
                background: white;
                border: 1px solid darken($main-color, 10%);
                border-radius: 100%;
                z-index: 10;
            }

            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                height: 100%;
                flex: 1;

                // & + & {
                //     margin-left: 1px;
                // }

                &__legend {
                    position: absolute;
                    bottom: -1.5rem;
                    left: 50%;
                    transform: translate3d(-50%, 0, 0);
                    font-size: 0.6em;
                }

                &__bar {
                    // position: absolute;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                    // flex: 1;
                    background: $main-color;
                    height: 100%;
                    width: 100%;

                    // & + & {
                    //     margin-left: 1px;
                    // }
                }

                &__tooltip {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    white-space: nowrap;
                    z-index: 10;

                    &:hover {
                        border: 1px solid;
                    }
                }
            }

            &__legend {
                &__item {
                    font-size: 0.45em;
                    line-height: 1.36em;
                    margin-bottom: 1px;
                    text-align: right;
                }

                &-container {
                    margin-top: 0.85em;
                    margin-right: 0.4em;
                }
            }
        }

        &__disclaimer {
            font-size: 0.5em;
            margin-left: 0.5em;
            opacity: 0.5;
            font-style: italic;
            margin-top: 2em;
        }
    }

    &__footer {
        padding: 6em 1.9em 0;
        font-size: 0.6em;
        opacity: 0.5;
    }
}
