@import "src/styles/lib";

.StephenKingUniverse {
    margin-bottom: 3em;
    padding: 6em 3em;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // background: #cfdbe8;
    background: #223443;

    h1 {
        color: white;
        text-align: center;
        width: 100%;
    }

    &__wrapper {
        position: relative;
        // padding-left: 200px;
    }

    &__fade-in {
        @keyframes fadeIn {
              0% { opacity: 0; }
            100% { opacity: 1; }
        }
        @keyframes fadeInFill {
              0% { fill-opacity: 0; }
            100% { fill-opacity: 1; }
        }

        // opacity: 0;
        // animation: fadeIn 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 11s;

        &--fill {
            // fill-opacity: 0;
            // animation: fadeInFill 1s ease-out;
            animation-fill-mode: forwards;
            animation-delay: 11s;
        }
    }

    &Chart {
        position: relative;
        // transform: scale(3);
            // width: 1500px;
            height: 3000px;
            background: #223443;

        &__svg {
            // width: 90vw;
            // height: 90vw;
            // max-width: 600px;
            // max-height: 600px;
            width: 2000px;
            height: 2000px;
            overflow: visible;
        }

        &__circle {
            // fill: none;
            // fill-opacity: 0.6;
            // stroke-width: 1;
            stroke-width: 0;
            fill: #fafafa;
            transition: all 0.3s ease-out;
            // filter: url(#white-glow);
        }

        &__line {
            stroke: white;
            stroke-width: 1;
            opacity: 0.5;
            // filter: url(#glow-neutral);

            &__cover {
                fill: #223443;
                // filter: url(#glow-background);
            }
        }

        &__title {
            font-size: 0.5em;
            font-weight: 600;
            text-anchor: middle;
        }

        &__rating {
            // opacity: 0.5;
        }

        &__tooltip {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;

            &-wrapper {
                background: white;
                padding: 1em 1em;
                transform: translate(-50%, -100%);
            }
        }

        &__label {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            // align-items: center;
            flex-direction: column;
            justify-content: center;
            // margin-top: 0.3em;
            font-size: 0.46em;
            font-size: 0.09em;
            font-size: 0.7em;
            line-height: 1.1em;
            font-weight: 600;
            max-width: 7em;
            // color: $tc;
            color: rgba(white, 0.7);
            color: #b8cfcc;
            color: #858cbf;
            color: #B8723E;
            color: #ab7044;
            transform: translateY(-50%);
            // text-align: center;
            user-select: none;
            pointer-events: none;

            &__year {
                margin-top: 0.3em;
                opacity: 0.4;
                color: rgba(white, 1);
                font-weight: 400;
            }

            &--side {
                &-left {
                    text-align: right;
                    align-items: flex-end;
                }
            }
        }
    }

    &Annotation {
        fill: none;
        // stroke: white;
        stroke: #ab7044;
        stroke-width: 1;
        opacity: 0.3;
        // filter: url(#glow-neutral);
    }

    & + .Header {
        .Header__link + .Header__link  {
            display: none;
        }
    }
}