@import "src/styles/lib";

.GaugeWalkthrough {
  position: relative;

  h1 {
    position: absolute;
    top: 1.6em;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
    z-index: 10;
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 0 0 4em;
    // margin-top: 43em;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    i {
      font-style: italic;
      font-weight: 600;
    }
  }

  &__metrics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 50em;
    margin: 0 auto 6em;
  }

  &__slider {
    width: 10em;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 60em;
    margin: auto;

    &__left,
    &__right {
      margin: 1em;
    }

    &__left {
      max-width: 30em;
    }
    &__right {
      max-width: 15em;
      // flex: 0 0 15em;
    }

    .Code__wrapper {
      flex: 1;
    }
  }

  &__mobile-code .Code {
    max-height: 15em;
    overflow: auto;
  }

  &__main {
    display: flex;
    width: 100%;

    &__text {
      flex: 1;
      padding: 2em 3em 0 5em;
      overflow: hidden;

      @media (max-width: 1100px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }

    }

    .ScrollEvent__indicator {
      left: -2.6em;
    }


    @media (max-width: 1100px){
      .ScrollEvent__indicator {
          display: none;
      }
      .Interactions {
          &__trigger {
              display: none;
          }
      }
    }

    .Code {
        @media (max-width: 1100px) {
            font-size: 0.7em;
            line-height: 1.2em;
        }
    }

  }

  &__sticky {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36em;
    height: 100vh;
    order: 2;

    @media (max-width: 1400px) {
      width: 30em;
    }
    @media (max-width: 1300px) {
      width: 21.6em;

      &__code {
        font-size: 0.8em;
      }
    }
    @media (max-width: 1100px) {
      display: none;
    }


    &__code {
      flex: 1;
      overflow: hidden;
      // order: 2;

      .Code {
        height: 100%;
        overflow: auto;

        &__wrapper {
          height: 100%;
        }
      }
    }

    &__example {
      flex: 0 0 15em;
      display: flex;
      height: 15em;
      padding: 1em;
    }

    &__metrics {
      padding-left: 2em;
    }
    &__metric {
      margin: 0.6em;
      font-size: 0.8em;

      &__label {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &Metric {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
      margin-top: 3em;
    }
  }

  .JourneyBackground {
    position: relative;
    // position: absolute;
    // top: -6em;
    width: 100%;
    padding-top: 13em;
    background: rgb(209, 226, 228);
    background: linear-gradient(
      to bottom,
      rgb(151, 191, 196),
      rgb(231, 231, 211),
      // white,
    );
    background: linear-gradient(
      to bottom,
      #A1BEDB,
      #FEFCFB,
      // white,
    );

    &__svg {
      display: block;
      width: 100%;
      height: 36em;
      overflow: visible;
      pointer-events: all;
    }

    &__mountain {
      // fill: seagreen;
      // mix-blend-mode: multiply;
      transition: all 0.5s;

      // &:nth-of-type(1) { fill: #1C3859; }
      // &:nth-of-type(2) { fill: #2B4863; }
      // &:nth-of-type(3) { fill: #346779; }
      // &:nth-of-type(4) { fill: #6EAAAC; }
      // &:nth-of-type(5) { fill: #7EB0B0; }
      // &:nth-of-type(6) { fill: #05112C; }
      // &:nth-of-type(1) { fill: #1C3859; }
      // &:nth-of-type(2) { fill: #2B4863; }
      // &:nth-of-type(3) { fill: #346779; }
      // &:nth-of-type(4) { fill: #6EAAAC; }
      // &:nth-of-type(5) { fill: #7EB0B0; }
      // &:nth-of-type(6) { fill: #BCD3C1; }
      // &:nth-of-type(7) { fill: #BCD3C1; }

      &-road {
        fill: white;
        opacity: 0.4;
        transition: all 0.5s;
      }
    }

    &__ground {
      fill: #05112C;
      transition: all 0.5s;
    }

    &__trees {
      fill: #05112C;
      transition: all 0.5s;
    }

    &__road {
      fill: $bgc;
      transform-origin: 50%;
      transition: all 0.5s;
    }

    &__cloud {
      fill: white;
      mix-blend-mode: soft-light;
      transition: all 0.5s;

      @keyframes moveCloud {
        0% { transform: translateX(15px); }
      100% { transform: translateX(-5px); }
      }
      animation: moveCloud 10s;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      @for $i from 0 through 30 {
        &:nth-of-type(#{$i}) {
            animation-delay: -6.3s * $i;
            animation-duration: #{$i * 5 + 20}s;
        }
      }
    }

    .Explorer {
      position: absolute;
      bottom: 6em;
      left: -2em;
      overflow: visible;

      @keyframes flashPurple {
        0% { stroke: white; }
       50% { stroke: $a3; }
      100% { stroke: white; }
      }

      &__staff {
        &--iteration-0,
        &--iteration-1 {
          animation: flashPurple 0.9s ease-out;
        }
      }
    }
  }

  .note {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 6em;
    color: $grey4;
    font-style: italic;
    align-items: center;
    width: 100%;
    text-align: center;

    img {
      margin-bottom: -1em;
    }
  }

  .P {
    display: inline-block;
    margin: 0 0;
    padding: 0 0.6em;
    color: $a1;
    background: rgba($a1, 0.1);
    border-radius: 2px;
    font-feature-settings: 'tnum' 1;
    font-family: monospace;
  }

  &__grid {
    position: relative;
    margin: 2.6em auto 3.6em;
    width: 20em;
    max-width: 90%;

    &__corner {
      position: absolute;
      font-feature-settings: 'tnum' 1;

      &--nw {
        top: -1.6em;
        left: -1.6em;
      }
      &--ne {
        top: -1.6em;
        right: -1.6em;
      }
      &--n {
        top: -1.6em;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
      }
      &--s {
        bottom: -1em;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
      }
      &--sw {
        bottom: -1em;
        left: -1.6em;
      }
      &--se {
        bottom: -1em;
        right: -1.6em;
      }
    }
  }

  .TelescopeExplorable {
    display: flex;
    flex-direction: column;
    max-width: 35em;
    margin: 3em auto;
    transform-origin: top left;

    @media (max-width: 750px) {
      transform: scale(0.9);
      margin-bottom: -3em;
    }
    @media (max-width: 650px) {
      transform: scale(0.8);
      margin-bottom: -7em;
    }
    @media (max-width: 570px) {
      transform: scale(0.7);
      margin-bottom: -12em;
    }
    @media (max-width: 530px) {
      transform: scale(0.6);
      margin-bottom: -17em;
    }
    @media (max-width: 455px) {
      transform: scale(0.5);
      margin-bottom: -20em;
    }

    &__main {
      display: flex;
      // align-items: center;
      justify-content: space-between;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      padding: 2em;
      background: #191847;
      color: white;
      border-radius: 1em;
      margin-right: auto;
      margin-bottom: -1em;
      transform: rotate(-6deg);

      &__item {
        display: flex;
        align-items: center;

        label {
          width: 2.5em;
          text-align: right;
        }

        .rc-slider {
          width: 10em;
          margin: 0 1em;
        }

        &__value {
          font-feature-settings: 'tnum' 1;
          width: 2.5em;
          text-align: right;
        }
      }

      &__summary {
        width: 100%;
        margin: 1em 0 -0.6em;
        text-align: center;
        font-feature-settings: 'tnum' 1;
      }
    }

    &__person {
      svg {
        width: 20em;
      }
    }

    &__svg {
      position: relative;
      flex: 0 0 15em;
      height: 15em;
      margin-bottom: auto;
      border: 1px solid pink;
      transform: perspective(30em) rotateY(-30deg);

      &__corner {
        position: absolute;
        font-feature-settings: 'tnum' 1;

        &--nw {
          top: -1em;
          left: -1em;
        }
        &--ne {
          top: -1em;
          right: -1em;
        }
        &--sw {
          bottom: -1em;
          left: -1em;
        }
        &--se {
          bottom: -1em;
          right: -1em;
        }
      }
    }
  }

  .ArcExample {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.8em;
    margin-bottom: 2em;

    &__controls {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 30em;
    }

    &__control {
        display: flex;
        align-items: center;
        font-size: 0.7em;
        min-width: 13em;
        margin: 0 1em;

        &__label {
            width: 6em;
            font-weight: 600;
        }

        &__value {
            text-align: right;
            margin-right: 1em;
            width: 3em;
            font-feature-settings: "tnum" 1;
        }
    }

    &__slider {
        width: 5em;
    }

    svg {
        width: 100px;
        flex: none;
    }

    .Expandy {
        width: 100%;
        margin-top: 1.6em;

        &__trigger {
          width: 100%;
        }
    }
  }

  & + .Header {
    .Header__link + .Header__link  {
        display: none;
    }
  }

  &__marked-list {
    .List__item {
      transition: background 0.2s ease-out;

      &:nth-child(1) .List__item__number { background: rgba($a1, 0.9); }
      &:nth-child(2) .List__item__number { background: rgba($a2, 0.9); }
      &:nth-child(3) .List__item__number { background: rgba($a3, 0.9); }
      &:nth-child(4) .List__item__number { background: rgba($a4, 0.9); }
      &:nth-child(5) .List__item__number { background: rgba($grey4, 0.9); }
      &:nth-child(6) .List__item__number { background: rgba($a5, 0.9); }
      &:nth-child(1):hover { background: rgba($a1, 0.2); }
      &:nth-child(2):hover { background: rgba($a2, 0.2); }
      &:nth-child(3):hover { background: rgba($a3, 0.2); }
      &:nth-child(4):hover { background: rgba($a4, 0.2); }
      &:nth-child(5):hover { background: rgba($grey4, 0.2); }
      &:nth-child(6):hover { background: rgba($a5, 0.2); }

      &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 2em;
        width: 2em;
        padding-left: 0.2em;
        color: $tc;
        font-weight: 600;
        border-radius: 100%;
      }
    }
  }

  .EndingGraphic {
    position: relative;
    // position: absolute;
    // top: -6em;
    width: 100%;
    margin-bottom: 13em;
    padding-top: 13em;
    background: rgb(209, 226, 228);
    background: linear-gradient(
      to bottom,
      white,
      rgb(231, 231, 211),
      rgb(151, 191, 196),
    );
    background: linear-gradient(
      to bottom,
      #FEFCFB,
      #A1BEDB,
      // white,
    );

    &__svg {
      display: block;
      width: 100%;
      height: 36em;
      overflow: visible;
      pointer-events: all;
    }

    &__ground {
      fill: #05112C;
      transition: all 0.5s;
    }
    &__hill {
      fill: rgb(151, 191, 196);
    }
    &__doorframe {
      fill: rgb(111, 154, 160);
    }
    &__door {
      &-group {
        position: absolute;
        left: 51%;
        top: 34%;
        width: 13vw;
        transition: all 0.5s;

        text {
          fill: rgb(67, 123, 126);
          fill: white;
          font-size: 0.21px;
          letter-spacing: -0.01px;
          text-transform: uppercase;
          font-weight: 600;
          // mix-blend-mode: multiply;
        }
      }

      fill: white;

      &knob {
        fill: black;
      }
    }

    &__road {
      fill: $bgc;
      transform-origin: 50%;
      transition: all 0.5s;
    }

    .Explorer2 {
      position: absolute;
      bottom: -2em;
      left: 20vw;
      overflow: visible;

      @keyframes flashPurple {
        0% { stroke: white; }
       50% { stroke: $a3; }
      100% { stroke: white; }
      }
      @keyframes flashPurple2 {
        0% { stroke: white; }
       50% { stroke: $a3; }
      100% { stroke: white; }
      }

      &__staff {
        &--iteration-0 {
          animation: flashPurple2 0.9s ease-out;
        }
        &--iteration-1 {
          animation: flashPurple 0.9s ease-out;
        }
      }
    }
    .hidden {
      fill: none;
    }

    svg {
      overflow: visible;
    }
  }
}