@import "src/styles/lib";

$main-color: #30336b;

.Chaconne {
    max-width: 100vw;
    padding: 3em;
    overflow: auto;

    &__title {
        // display: inline-block;
        position: relative;
        color: $tc;
        // color: #474787;
        font-size: 3em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;
        padding: 0.2em 0;
    }

    &__description {
        margin-top: 1em;
        padding-right: 40px;
        font-size: 0.8em;
        line-height: 1.3em;
    }

    &__contents {
        position: relative;
        // display: flex;
        // margin: 0 -1em;
    }

    h3 {
        margin-top: 3em;
        font-size: 1.3em;
    }

    @keyframes slideLeft {
          0% {transform: translateX(0); }
        100% {transform: translateX(-80%); }
    }

    &VideoChart {
        position: relative;
        width: 100%;
        margin-top: 3em;

        &__area {
            stroke: none;
            fill: #45aeb1;
            opacity: 0.6;
            stroke: green;
        }

        &__columns {
            display: flex;
        }
        &__column {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        &__item {
            flex: 1;
            height: 2em;
            width: 100%;
        }

        &__labels {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
        }
        &__label {
            display: flex;
            align-items: center;
            height: 2em;
            padding-left: 1em;
            flex: 1;
            font-size: 0.9em;
        }
    }

    &__hovered {
        position: fixed;
        bottom: 1em;
        right: 1em;
        background: $accent-3;
        color: white;
        padding: 0.6em 1em;
        z-index: 100;
        display: flex;

        &__metric {
            font-weight: 700;
            padding-right: 0.6em;
        }
    }
}
