
@import "src/styles/lib";

$main-color: #30336b;

.DogBreeds {
    padding: 4em 2em;
    font-size: 21px;
    background: $bgc;

    &__title {
        // display: inline-block;
        position: relative;
        color: $tc;
        // color: #474787;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 0;
        font-size: 3em;
        margin-bottom: 0;
        line-height: 1.5em;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;
        }

        &__button {
            display: block;
            font-size: 0.5em;
        }
    }

    &__contents {
        position: relative;
        // display: flex;
        background: $bgc;
    }

    &__controls {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // flex-direction: column;
    }

    &__select {
        // width: 100%;
        flex: 1;
        font-size: 0.7em;
        margin-bottom: 1em;
        margin-right: 1em;
        min-width: 30em;
    }
    &__toggle {
        margin-bottom: 1em;
    }

    &__chart {
        position: relative;

        &--has-selected-breeds {
            .Line {
                opacity: 0.2;
            }
        }
    }

    &__crosshair {
        fill: $accent-3;;
    }

    &__footer {
        padding: 6em 1.9em 0;
        font-size: 0.6em;
        opacity: 0.5;
    }

    .Line {
        stroke-width: 1px;
    }

    &Tooltip {
        position: absolute;
        top: -5em;
        left: 0;
        width: 22em;
        padding: 0.6em 0.9em;
        font-size: 0.6em;
        line-height: 1.3em;
        text-align: center;
        background: $gray;
        background: white;
        border: 1px solid $gray;
        // transition: all 0.1s ease-out;
        opacity: 0.9;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;

        &__header {
            flex: 1;
            width: calc(100% + 1.8em);
            margin: -1.1em -1.1em 0.6em;
            padding: 0.4em;
            background: $accent-3;
            color: white;
        }

        &__breed-color {
            height: 0.5em;
            width: 0.5em;
            margin-right: 0.6em;
            border-radius: 100%;
        }

        &__breeds {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__breed {
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 100;
            opacity: 0.45;

            &--is-selected {
                color: #000;
                font-weight: 600;
                opacity: 1;
            }

            &__index {
                flex: 0 0 1.5em;
                padding-right: 0.3em;
                text-align: right;
                font-weight: 300;
                opacity: 0.7;
            }
            &__label {
                flex: 1;
                font-weight: 600;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &__value {
                flex: 0 0 4.3em;
                width: 4.3em;
                text-align: right;
            }
        }
    }
}
