@import "./colors";
@import "./utils";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
// @supports (font-variation-settings: normal) {
//   html { font-family: 'Inter var', sans-serif; }
// }

body {
    color: $tc;
}

input, textarea, select, button {
  font-family: 'Inter', sans-serif;
  font-feature-settings: "zero", "ss02", "frac", "case", "ss01" 1;
}

h1 {
    font-size: 2.8em;
    line-height: 1.1em;
    margin: 0.2em 0 0.6em;
    font-weight: 900;
}

h2 {
    margin-top: 3em;
    font-weight: 900;
}


li {
    padding: 0.4em 0.6em;
}

:focus {
    outline: #9980FA auto 5px;
}

h6 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 0.6em;
    margin: 0.5em 0;
}