body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 0;
    color: #34495e;
    background: #f8f9fa;
    font-family: sans-serif;
}

.title {
    font-size: 1.4em;
    font-weight: 800;
    max-width: 20em;
    text-align: center;
    margin-bottom: 1em;
}

.bin rect {
    fill: #686de0;
    transition: all 0.2s ease-out;
}

.bin text {
    text-anchor: middle;
    fill: darkgrey;
    font-size: 12px;
    font-family: sans-serif;
}

.mean {
    stroke: #c7ecee;
    stroke-dasharray: 2px 4px;
}

.mean-label {
    fill: #7dacaf;
    text-anchor: middle;
    font-size: 0.76em;
}

.x-axis-label {
    fill: #34495e;
    font-size: 1.4em;
    text-transform: capitalize;
}

.left-side-background {
    fill: #fff;
}

.right-side-background {
    fill: #f1f2f6;
}

.label {
    fill: #34495e;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

.right-side-label {
    text-anchor: end;
}

.note {
    color: #95afc0;
    margin-top: 3em;
    font-style: italic;
    font-size: 0.7em;
}

.note a {
    color: inherit;
}