body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 1em;
    color: #34495e;
    background: #f8f9fa;
    font-family: sans-serif;
}

.title {
    font-size: 1.4em;
    font-weight: 800;
    max-width: 20em;
    text-align: center;
    margin-bottom: 1em;
}

.wrapper {
    position: relative;
}

.x-axis-label {
    fill: #34495e;
    font-size: 1.4em;
    text-transform: capitalize;
}

.y-axis-label {
    fill: #34495e;
    font-size: 1.4em;
    text-anchor: middle;
    transform: rotate(-90deg);
}

.dot {
    fill: #686de0;
    opacity: 0.9;
    mix-blend-mode: multiply;
}

.hovered {
    fill: #22a6b3;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: -14px;
    left: 0;
    max-width: 21em;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.8em;
    box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
    z-index: 10;
    transition: all 0.1s ease-out;
    pointer-events: none;
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltip-title {
    margin-bottom: 0.3em;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2em;
}

.tooltip-metric {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    line-height: 1.3em;
}

.tooltip-value {
    text-align: right;
    font-feature-settings: 'tnum' 1;
}

.tooltip-tasks {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 1.3;
    font-weight: 300;
    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip-dot {
    pointer-events: none;
}

.tooltip-dot-outside {
    stroke: #d7dee5;
    stroke-width: 9;
}

.tooltip-dot-inside {
    fill: #686de0;
}

.note {
    color: #95afc0;
    margin-top: 3em;
    font-style: italic;
    font-size: 0.7em;
}

.note a {
    color: inherit;
}