.HealthCareTimeSeries {
  padding: 20px;
}

.HealthCareTimeSeries__header {
  padding: 10px 22px 10px 70px;
}

.HealthCareTimeSeries__modulators {
  margin-bottom: 20px;
}

.HealthCareTimeSeries__modulators__select {
  flex: 2;
  margin-right: 10px;
}
