@import "src/styles/lib";

.ButtonGroup {
  & > .Button {
    border-radius: 2px 0 0 2px;

    & + .Button {
      margin-left: 0;
      border-left-width: 0;
      border-radius: 0 0 0 0;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  .Button--active {
    background: $accent-4;
    color: $bgc;

    &:hover {
      background: darken($accent-4, 10%);
    }
  }
}
