@import "src/styles/lib";

.ButtonGroup {
  & > .Button {
    border-radius: 2px 0 0 2px;

    & + .Button {
      margin-left: 0;
      border-left-width: 0;
      border-radius: 0 0 0 0;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  .Button--inactive {
    background: $grey1;
    color: $grey3;

    &:hover {
      background: darken($grey1, 3%);
    }
  }

  .Button--active {
    background: $a1;
    color: $bgc;

    &:hover {
      background: darken($a1, 10%);
    }
  }
}
