.List {
  padding: 0;

  &__item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding-left: 0.5em;

    &__icon {
      margin-top: 0.23em;
      color: orange;
    }

    &__number {
      color: orange;
      margin-right: -0.5em;
    }

    &__text {
      padding-bottom: 0.3em;
      padding-left: 1em;
    }
  }
}