body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 0;
    color: #34495e;
    background: #f8f9fa;
    font-family: sans-serif;
}

.title {
    font-size: 1.4em;
    font-weight: 800;
    max-width: 20em;
    text-align: center;
    margin-bottom: 1em;
}

.wrapper {
    position: relative;
}

.bin {
    fill: #686de0;
    transition: all 0.2s ease-out;
}

.hovered {
    fill: #22a6b3;
}

.bin text {
    text-anchor: middle;
    fill: darkgrey;
    font-size: 12px;
    font-family: sans-serif;
}

.mean {
    stroke: #c7ecee;
    stroke-dasharray: 2px 4px;
}

.mean-label {
    fill: #7dacaf;
    text-anchor: middle;
    font-size: 0.76em;
}

.x-axis-label {
    fill: #34495e;
    font-size: 1.4em;
    text-transform: capitalize;
}

.left-side-background {
    fill: #fff;
}

.right-side-background {
    fill: #f1f2f6;
}

.label {
    fill: #34495e;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

.right-side-label {
    text-anchor: end;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    /* text-align: center; */
    /* border: 1px solid #ddd; */
    box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltip-range {
    margin-bottom: 0.2em;
    font-weight: 600;
}

.tooltip-examples {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    max-width: 25em;
    font-size: 0.7em;
    line-height: 1.3;
    font-weight: 300;
    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip-value {
    margin-bottom: 0.2em;
    font-size: 0.7em;
    line-height: 1.3;
    font-weight: 550;
}

.tooltip-bar-value {
    font-size: 0.7em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.tooltip-bar {
    margin-bottom: 0.5em;
    position: relative;
    width: 100%;
    height: 0.6em;
    background: #eaeaea;
}

.tooltip-bar-item {
    background: #30336b;
    height: 100%;
}

.note {
    color: #95afc0;
    margin-top: 3em;
    font-style: italic;
    font-size: 0.7em;
}

.note a {
    color: inherit;
}

.listeners {
    fill: transparent;
}