.RochesterRealEstateTimeSeries {
  padding: 20px;
}

.RochesterRealEstateTimeSeries__header {
  padding: 10px 22px 10px 70px;
}

.RochesterRealEstateTimeSeries__modulators {
  margin-bottom: 20px;
}

.RochesterRealEstateTimeSeries__modulators__select {
  flex: 2;
  margin-right: 10px;
}
