@import "src/styles/lib";

.D3Modules {
    position: relative;
    // position: sticky;
    // top: 100px;
    display: flex;
    // width: 100%;
    justify-content: center;
    justify-content: flex-end;
    font-size: 0.9em;
    line-height: 1.3em;
    // overflow: auto;
    // margin-left: -2em;
    // width: calc(100% + 4em);

    @media (min-width: 1200px) {
        margin-top: -10em;
    }

    &__wrapper {
        position: relative;
    }

    &__annotation {
        position: absolute;
        top: 0;
        left: 0;
        color: $a3;

        &:before {
            content: "";
            position: absolute;
            left: -3em;
            right: -1em;
            height: 3.6em;
            margin-top: -2.8em;
            border-radius: 100%;
            border: 1px solid transparent;
            border-bottom: 1px solid;
            transform: rotate(-10deg);
        }

        &__text {
            position: absolute;
            padding-right: 2em;
            line-height: 1.1em;
            color: darken($a3, 10%);
            font-weight: 600;
            transform: translate(-100%, calc(-100% + 0.2em));
            width: 9em;
            text-align: right;
        }
    }

    &Item {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // position: relative;
        // width: 9em;
        // flex: 1 0;
        margin: 0.3em;
        padding: 0.6em 1em;
        border: 3px solid transparent;
        border-radius: 100%;
        background: rgba($a1, 0.2);
        transform-origin: center center;

        // &__background {
        //     // @include abs(0, 0, auto, 0);
        //     pointer-events: none;
        //     @include abs(0, auto, 0, 0);
        //     background: #fff;
        //     background: rgba($a1, 0.2);
        //     border-radius: 2px;
        //     z-index: 0;
        // }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $text-color;
            text-align: center;
            z-index: 10;
            pointer-events: none;
        }
        &__title {
            font-weight: 600;
            max-width: 10em;
        }
        &__name {
            font-size: 0.86em;
            color: $grey5;
            min-width: 20em;

            a:visited,
            a {
                color: $grey5;
            }
        }
        &__size {
            font-feature-settings: 'tnum' 1;
            line-height: 1.2em;
            font-size: 0.8em;
        }

        &__name,
        &__size {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        &:active,
        &:focus,
        &:visited,
        &:hover {
            border-color: $a1;
            outline: none;

            .D3ModulesItem {
                &__name,
                &__size {
                    opacity: 1;
                }
            }

        }

        &--is-external {
            background: rgba($a3, 0.3);

            &:active,
            &:focus,
            &:visited,
            &:hover {
                border-color: $a3;
            }

            .D3ModulesItem {
                &__child {
                    background: rgba($a3, 0.3);
                }
            }

            &.D3ModulesItem--is-focused {
                border-color: $a3;
            }
        }

        &--is-unfocused {
            background: rgba($grey4, 0.1);
            // pointer-events: none;

            .D3ModulesItem {
                &__child {
                    background: rgba($grey4, 0.1);
                }
            }

            &:active,
            &:focus,
            &:visited,
            &:hover {
                border-color: $grey4;
            }
        }

        &--is-focused {
            border-color: $a1;
        }

        &__children {
            @include abs(50%, 0, 0, 50%);
            margin-top: -0.6em;
            margin-left: -0.6em;
            transform: scale(0.9);
            transform-origin: top left;
            // transform-origin: center center;
        }

        &__child {
            position: absolute;
            background: rgba($a1, 0.2);
            border-radius: 100%;

            &:hover {
                background: $a1;
            }

            &__contents {
                max-width: 20em;
                line-height: 1.3em;
            }
        }
    }

    &Scheme,
    &Gradient {
        width: 100%;
        min-width: 10em;
        height: 2em;
        margin-top: 0.6em;
    }
}