@import "src/styles/lib";

.D3AndReactExample {
  display: block;
  margin: 1em auto 3em;
  text-align: center;
  overflow: visible;

  .dot {
    fill: $a1;
    opacity: 0.3;
  }

  text {
    fill: $tc;
    font-size: 1.4em;
    letter-spacing: 0;
    font-family: 'Inter', sans-serif;
  }
}