@import "src/styles/lib";

.D3AndReact {
  .Terminology {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    position: relative;
    // width: 100%;
    max-width: 25em;
    min-width: 25em;
    margin: 1em;
    margin-left: 0;
    height: 13em;
    background: darken($grey1, 3%);
    color: $grey5;
    // border: 1px solid $grey2;

    @media (max-width: 500px) {
      font-size: 0.8em;
    }
    @media (max-width: 400px) {
      font-size: 0.6em;
    }

    &:before {
      content: "wrapper";
      position: absolute;
      top: 0.4em;
      left: 1em;
      font-weight: 800;
    }


    &__bounds {
      position: absolute;
      top: 3em;
      right: 3.8em;
      bottom: 3em;
      left: 3.8em;
      // border: 2px solid $grey4;
      background: rgba($a1, 0.3);
      // border: 1px solid saturate(lighten($a1, 10%), 20%);
      color: desaturate(darken($a1, 20%), 20%);

      &:before {
        content: "bounds";
        position: absolute;
        top: 0.4em;
        left: 1em;
        font-weight: 800;
      }
    }

    &__margin {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $a2;

      &__text {
        font-size: 0.9em;
        line-height: 1em;
        font-weight: 800;

        &:before {
          content: "margin";
          display: block;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: 0.6em;
          font-weight: 400;
        }
      }

      &:before {
        content: "";
        position: absolute;
      }
      &:after {
        content: "";
        position: absolute;
      }

      &--top,
      &--bottom {
        &:before {
          height: 100%;
          left: -0.7em;
          border-left: 1px solid $a2;
        }
        &:after {
          left: -1em;
          height: 100%;
          width: 0.6em;
          border-top: 1px solid $a2;
          border-bottom: 1px solid $a2;
        }
      }

      &--top {
        top: 0;
        left: 50%;
        margin-left: 1em;
        height: 3em;
      }

      &--bottom {
        bottom: 0;
        left: 50%;
        margin-left: 1em;
        height: 3em;
      }

      &--right,
      &--left {
        text-align: center;

        &:before {
          width: 100%;
          top: -0.5em;
          border-top: 1px solid $a2;
        }
        &:after {
          top: -0.8em;
          width: 100%;
          height: 0.6em;
          border-left: 1px solid $a2;
          border-right: 1px solid $a2;
        }
      }

      &--right {
        width: 3.8em;
        right: 0;
        top: 50%;
        // transform: translateY(-50%);
      }

      &--left {
        width: 3.8em;
        left: 0;
        top: 50%;
        // transform: translateY(-50%);
      }
    }
  }

  .Term {
    &--name {
      &-wrapper {
        color: $a1;
      }
      &-bounds {
        color: $grey4;
      }
      &-margins {
        color: $a2;
      }
    }
  }
}