@import "src/styles/lib";

.Map {

  &__path {
    stroke-width: 0;
  }

  &__states {
    fill: none;
    stroke: $bgc;
    stroke-linejoin: round;
  }

  &__legend {
    .tick {
      line {
        stroke: $bgc;
      }
      text {
        font-size: $font-size-xsmall;
      }
    }
  }
}
