@import "src/styles/lib";

.CssCascade {
  position: relative;
  display: flex;
  width: 100%;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 6em 0;
  // max-width: 82em;
  // max-width: 73em;
  margin: 0 auto;
  margin-bottom: 3em;

  h1 {
    margin: 0.266em auto 0.13em;
    font-size: 6em;

    @media (min-width: 1000px) {
      margin-left: -120px;
    }
  }
  h3 {
    margin: 0 auto 1.3em;
    font-size: 2em;
    font-weight: 400;
    color: #4a6f75;

    @media (min-width: 1000px) {
      margin-left: -120px;
    }
  }

  &__content {
    // margin-left: 360px;
    margin-left: 6em;
    max-width: 56em;
    padding-right: 2em;
    padding-bottom: 100px;

    p {
      padding-bottom: 0;
    }

    @media (min-width: 1000px) {
      .ScrollEvent:first-of-type {
        p {
          &:nth-of-type(1) {
            margin-left: -120px;
          }
          &:nth-of-type(2) {
            margin-left: -120px;
          }
          &:nth-of-type(3) {
            margin-left: -90px;
          }
          &:nth-of-type(4) {
            margin-left: -40px;
          }
          &:nth-of-type(5) {
            margin-left: -10px;
          }
        }
        .Highlight {
          margin-left: -65px;
        }
      }
    }

    i {
      font-style: italic;
    }

    .P {
      display: inline-block;
      margin: 0 0;
      padding: 0 0.6em;
      color: $a1;
      background: rgba($a1, 0.1);
      border-radius: 2px;
      font-feature-settings: 'tnum' 1;
      font-family: monospace;
      font-weight: 600;
    }

    .Blockquote {
      // display: table;
    }

    .Highlight {
      display: inline-block;
      color: #4a6f75;
      background: #e3f0f3;
      padding: 1em;
      margin-left: -1em;
      margin-top: 0.2em;
      margin-bottom: 0.3em;
    }
  }

  &__header-number {
    position: absolute;
    margin-left: -1em;
    font-size: 0.5em;
    margin-top: 0.35em;
    font-weight: 300;
    color: $a3;
    cursor: pointer;
  }

  &__hover-list {
    margin-top: 1em;

    .List__item {
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
          // background: rgba($grey4, 0.1);
          background: white;
      }

      &__text {
        padding-bottom: 0;

        & > div {
          padding-top: 0.3em;
          padding-bottom: 0.3em;
        }
      }

      .List__item__number {
        margin-top: 0.3em;
      }

      &__icon {
          margin-top: -0.12em;
      }
    }

    &__aside {
      margin-left: -1em;
    }
  }

  &Steps {
    position: sticky;
    height: 760px;
    top: 6em;
    margin-top: 9em;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    width: 465px;
    // margin-left: -10px;
    // margin-top: -0.4em;
    // margin-left: -0.4em;

    &__name {
      position: absolute;
      z-index: 100;
      margin-left: 70px;
      margin-top: -41px;
      color: #295157;
      width: 1em;
    }

    &__steps {
      position: relative;
      z-index: 10;

      &:before {
        content: "";
        position: absolute;
        top: -233px;
        left: 53px;
        width: 206px;
        height: 250px;
        background: #bad8dd;
        z-index: 0;
        border-radius: 1em 1em 0 0;
      }
    }

    &__item {
      position: relative;
      width: 206px;
      padding: 36px 0;
      // margin: 0.4em;
      //   padding: 10px 13px;
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px -5px;
      // border-radius: 0.4em;

      &--is {
        &-active {
          &:before {
            background: #d0e5e9;
          }
          .CssCascadeSteps__item__step {

            background: linear-gradient(
              to bottom,
              #c6e2e7 0%,
              #c6e2e7 9%,
              rgb(214, 233, 236) 10%,
              // #fff 30%,
              // #fff 10%,
              #c6e2e7 20%,
            );
          }
          .CssCascadeSteps__item__name {
            color: black;
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: -33px;
        left: 0;
        width: 206px;
        height: 100px;
        background: #bad8dd;
        border-radius: 16px;
        z-index: 0;
      }

      @for $i from 0 through 6 {
        &:nth-child(#{$i}) {
          margin-left: $i * 53px;
        }
      }

      &__name {
        position: relative;
        font-weight: 800;
        margin-left: 1em;
        padding-bottom: 0.3em;
        color: #295157;
        cursor: pointer;
        z-index: 100;
      }

      &__steps {
        position: relative;
        // padding-left: 1em;
        font-size: 0.8em;
        line-height: 1.6em;
        z-index: 20;

        // &:before {
        //   content: "";
        //   position: absolute;
        //   top: -65px;
        //   left: 0;
        //   right: -10px;
        //   height: 70px;
        //   background: linear-gradient(
        //     to right,
        //     transparent 0,
        //     transparent 10px,
        //     $bgc 10px,
        //     $bgc 13px,
        //     transparent 13px,
        //     transparent 50px,
        //   );
        //   background-size: 50px;
        //   background-repeat: repeat-x;
        //   opacity: 0.5;
        //   z-index: 100;
        // }
      }

      &__step {
        position: relative;
        background: #bad8dd;
        background: linear-gradient(
          to bottom,
          #bad8dd 0%,
          #bad8dd 9%,
          #C9E0E4 10%,
          // #fff 30%,
          // #fff 10%,
          #bad8dd 20%,
        );
        padding: 9px 1.6em;
        border-radius: 16px;
        width: 206px;
        margin: -12px 0;
        color: #4a6f75;
        font-weight: 600;
        white-space: nowrap;
        z-index: 5;

        @for $i from 0 through 6 {
          &:nth-child(#{$i}) {
              margin-left: #{($i - 0) * 9px};
          }
        }

        &--is {
          &-active {
            color: black;
          }
        }
      }

      &:last-of-type {
        &:after {
          content: "";
          position: absolute;
          bottom: -68px;
          left: 46px;
          width: 206px;
          height: 100px;
          background: #bad8dd;
          border-radius: 16px;
          z-index: 0;
        }
      }
    }

    &__rocks {
      position: absolute;
      top: -220px;
      right: 130px;
      bottom: -50px;
      left: 0;
      background: #4f6dca;
      background: linear-gradient(
        to bottom,
        #4f6dca 0%,
        #4f6dca 27%,
        #354f9e 27%,
        #354f9e 46%,
        #1c316e 46%,
        #1c316e 63%,
        #0f1c44 63%,
        #0f1c44 83%,
        #060e24 83%,
        #060e24 100%,
      );
      border-radius: 0 50px 0 0;

      &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        height: 30px;
        width: 100px;
        background: #bad8dd;
      }

      &:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        height: 30px;
        width: 60px;
        background: #4f6dca;
        border-radius: 0 50px 0 0;
      }
    }

    &__image {
      position: absolute;
      pointer-events: none;
      z-index: 300;

      @keyframes plantsMovement {
        0% { transform: rotate(-0.5deg); }
        100% { transform: rotate(2deg); }
      }
      &--plants {
        width: 300px;
        left: -66px;
        bottom: -66px;
        transform-origin: bottom left;

        @media screen and (prefers-reduced-motion: no-preference) {
          // animation: 23s plantsMovement linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
      &--fish {
        width: 60px;
        bottom: -60px;
        right: 100px;
      }
      @keyframes cloudMovement {
        0% { transform: translateX(-1em); }
        100% { transform: translateX(1em); }
      }
      &--cloud1 {
        width: 200px;
        top: -200px;
        left: 100px;
        @media screen and (prefers-reduced-motion) {
          // animation: 12s cloudMovement linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
      &--cloud2 {
        width: 100px;
        top: -100px;
        left: 10px;
        @media screen and (prefers-reduced-motion) {
          // animation: 17s cloudMovement linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-delay: -4s;
        }
      }
      @keyframes birdsMovement {
        0% { transform: translateY(-3px); }
        100% { transform: translateY(3px); }
      }
      &--birds {
        width: 160px;
        top: -123px;
        left: 160px;
        @media screen and (prefers-reduced-motion) {
          // animation: 5s birdsMovement linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
      &--rocks {
        width: 50px;
        top: 170px;
        left: 60px;
      }
      &--rocks2 {
        width: 50px;
        bottom: 47px;
        right: 0;
        transform: scaleX(-1);
      }
      &--flower1 {
        width: 160px;
        bottom: -60px;
      }
      &--flower2 {
        width: 100px;
        bottom: 320px;
        left: 20px;
      }
      &--flower3 {
        width: 160px;
        bottom: 90px;
        left: 50px;
      }
      &--leaf1 {
        width: 150px;
        bottom: 150px;
        left: 50px;
        transform: rotate(30deg);
      }
      &--leaf2 {
        width: 170px;
        bottom: 0;
        left: 10px;
        transform: rotate(45deg);
      }
      &--leaf3 {
        width: 120px;
        bottom: 150px;
        left: 20px;
        transform: rotate(95deg);
      }
      &--leaf4 {
        width: 250px;
        bottom: -140px;
        left: -10px;
        transform: rotate(35deg);
      }
      &--leaf5 {
        width: 130px;
        bottom: 240px;
        left: 20px;
        transform: rotate(15deg);
      }
      &--leaf6 {
        width: 150px;
        bottom: 0px;
        left: 60px;
        transform: rotate(45deg);
      }
      &--leaf7 {
        width: 90px;
        bottom: 360px;
        left: 10px;
        transform: rotate(45deg);
      }
      &--leaf8 {
        width: 150px;
        bottom: -40px;
        left: 30px;
        transform: rotate(60deg);
      }
    }
  }

  &Raft {
    position: absolute;
    pointer-events: none;
    z-index: 300;
    left: 200px;
    top: 30px;
    transition: all 0.5s ease-out;

    &__img {
      display: block;
      width: 40px;
    }

    @keyframes raftMovement1 {
      0% { transform: rotate(0deg); }
      50% { transform: rotate(30deg); }
      100% { transform: rotate(0deg); }
    }
    @keyframes raftMovement2 {
      0% { transform: rotate(0deg); }
      50% { transform: rotate(30deg); }
      100% { transform: rotate(0deg); }
    }

    &--iteration-0 {
      .CssCascadeRaft__img {
        @media screen and (prefers-reduced-motion: no-preference) {
          animation: 0.3s raftMovement1 linear;
        }
      }
    }
    &--iteration-1 {
      .CssCascadeRaft__img {
        @media screen and (prefers-reduced-motion: no-preference) {
          animation: 0.3s raftMovement2 linear;
        }
      }
    }
  }

  &Crash {
    position: absolute;
    bottom: -124px;
    left: 200px;
    width: 376px;
    z-index: 100;
    height: 300px;
    overflow: hidden;
    pointer-events: none;

    &--size-l {
      .CssCascadeCrash__bubble {

        // @keyframes bubbleMovement {
        //     0% { transform: scale(0.6); }
        //   20% { transform: scale(1.5); }
        //   50% { transform: scale(2.5); }
        //   80% { transform: scale(2); }
        //   90% { transform: scale(1); }
        // }

        // @media screen and (prefers-reduced-motion: no-preference) {
        //   // animation-name: bubbleMovement;
        //   // animation-iteration-count: infinite;
        // }

      }
    }
    &--size-s {
      top: -235px;
      left: -30px;
      width: 330px;

      .CssCascadeCrash__bubble {
        height: 26px;
        width: 26px;
        bottom: -13px;

        // @for $i from 0 through 6 {
        //   &:nth-of-type(#{$i}) {
        //     margin-left: #{($i - 0) * 35px};
        //     transform: scale(random(3));
        //   }
        // }
      }
      @for $i from 0 through 6 {
        &.CssCascadeCrash--index-#{$i} {
          @for $j from 0 through 6 {
            .CssCascadeCrash__bubble:nth-of-type(#{$j}) {
              transform: scale(random(3));
            }
          }
        }
      }
    }

    &__bubble {
      position: absolute;
      bottom: -25px;
      height: 50px;
      width: 50px;
      background: #ddebec;
      border-radius: 100%;
      opacity: 0.9;
      // mix-blend-mode: screen;

      @for $i from 0 through 6 {
        &:nth-of-type(#{$i}) {
          margin-left: #{($i - 0) * 42px};
          animation-duration: random(21) + 5 * 1s;
          animation-delay: random(21) + 5 * -1s;
          transform: scale(random(3));
        }
      }
    }
  }

  &Stream {
    position: absolute;
    bottom: -55px;
    height: 80px;
    width: 200px;
    left: 52px;
    z-index: 100;
    overflow: visible;
    opacity: 0.4;
    pointer-events: none;

    &Straight {
      top: -350px;
      bottom: 0;
      height: 400px;
    }

    @keyframes streamMovement {
      0% { stroke-dashoffset: 0; }
      100% { stroke-dashoffset: -17; }
    }

    path {
      fill: none;
      stroke: white;
      stroke-width: 0.2px;
      stroke-linecap: round;
      stroke-dasharray: 8 9;
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: 9s streamMovement linear;
        animation-iteration-count: infinite;
      }

      @for $i from 0 through 6 {
        &:nth-of-type(#{$i}) {
          // animation-duration: random(21) + 5 * 1s;
          animation-delay: random(21) + 5 * -1s;
        }
      }
    }
  }

  &Waterfall {
    position: absolute;
    overflow: visible;

    &__flow {
      fill: #bad8dd;
    }
  }

  .RuleFight {
    width: 100%;
    padding-top: 1em;

    &__rules {
      position: relative;
      display: flex;
      // width: 100%;
      margin: -0.3em;
      margin-bottom: 0.6em;

      &__vs {
        position: absolute;
        // top: 2.3em;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        font-weight: 600;
        background: white;
        border: 1px solid $grey2;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px -5px;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        z-index: 10;

        color: var(--rule-color);
      }
    }

    &__rule {
      position: relative;
      flex: 1;
      margin: 0.3em;
      cursor: pointer;
      --rule-color: sandybrown;

      &:nth-of-type(2) {
        --rule-color: orchid;
      }

      &__name {
        position: absolute;
        top: 1.8em;
        left: 0;
        top: 0;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        font-weight: 600;
        background: white;
        border: 1px solid $grey2;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px -5px;
        border-radius: 100%;
        transform: translate(-50%, -50%);

        color: var(--rule-color);
      }

      .Code__wrapper {
        width: 100%;
        margin: 0;
        border-radius: 1rem;
        border: 1.5px solid $grey2;
        overflow: hidden;
        transition: border-color 0.2s ease-out;
      }

      .CodeLine {
        pointer-events: none;
      }

      .Code__file {
        padding-left: 1.16rem;
      }

      &:hover .Code__wrapper {
        border-color: var(--rule-color);
      }

      &--is-guessed {
        .Code__wrapper {
          border-color: var(--rule-color);
        }

        .RuleFight__rule__name {
          background: var(--rule-color);
          color: white;
          border-color: var(--rule-color);
        }
      }
    }

    &__answer {
      position: relative;
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px -5px;
      border-radius: 1rem;
      border: 1.5px solid $grey2;

      &--winner {
        &-1 { --rule-color: sandybrown; }
        &-2 { --rule-color: orchid; }
      }

      @keyframes popInStatus {
        0% { transform: translate(-50%, -50%) scale(0); }
        90% { transform: translate(-50%, -50%) scale(1.3); }
        100% { transform: translate(-50%, -50%) scale(1); }
      }

      &__status {
        position: absolute;
        top: 4em;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        font-weight: 600;
        background: white;
        border: 1px solid $grey2;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px -5px;
        border-radius: 100%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center center;

        @media screen and (prefers-reduced-motion: no-preference) {
          animation: 0.3s popInStatus ease-out;
          animation-fill-mode: forwards;
        }

        &--is {
          &-correct {
            color: $a2;
          }

          &-wrong {
            color: $a4;

            .Icon {
              width: 15px;
            }
          }
        }
      }

      &__mystery {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(white, 0.6);
        border-radius: 0 0 1rem 1rem;
        cursor: pointer;
        z-index: 20;

        &__icons {
          display: flex;
          color: $grey3;
        }

        &__icon {
          margin: 0.3em;
        }
      }

      &__heading {
        font-size: 0.7em;
        display: flex;
        align-items: center;
        background: $grey1;
        color: $grey4;
        padding: 0.3em 2.6rem;
        font-weight: 500;
        border-radius: 1rem 1rem 0 0;
      }

      &__text {
        position: relative;
        padding: 1em 2.6rem;

        &__main {
          // transition: color 0.3s ease-out;

          &--is {
            &-visible {
              color: var(--rule-color);
            }
            &-hidden {
              filter: blur(5px);
            }
          }
        }

        &__note {
          font-size: 0.9em;
          margin-top: 0.6em;
          line-height: 1.6em;
          color: $grey4;
          font-style: italic;
        }
      }
    }
  }

  @media (max-height: 970px) {
    &Steps {
      &__item__step {
        padding-top: 6px;
        padding-bottom: 6px;
      }
      &__image {
        &--fish {
          bottom: 0;
        }
        &--rocks2 {
          bottom: 99px;
          right: 0;
          left: auto;
        }
      }
    }
    &Crash {
      bottom: -30px;
    }
  }

  @media (max-height: 891px) {
    &Steps {
      &__item {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      &__image {
        &--fish {
          bottom: 0;
        }
        &--rocks2 {
          bottom: 99px;
          right: 0;
          left: auto;
        }
      }
    }
    &Crash {
      bottom: 100px;

      &--size-s {
        top: -250px;
      }
    }
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 4em;
      line-height: 1em;
    }
    h3 {
      font-size: 1.5em;
      line-height: 1.2em;
      margin-top: 0;
    }

    &Steps {
      display: none;
    }

    &__content {
      padding-left: 2em;
      margin-left: 0;
    }

    .RuleFight {
      &__rules {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 3em;
      line-height: 1em;
      margin-bottom: 0.3em;
    }
    h3 {
      font-size: 1em;
      line-height: 1.4em;
      margin-top: 0;
    }
  }
}